.educations-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.educations-block .block-header {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}

.educations-block .education-block {
  width: 100%;
  display: inline-flex;

  gap: 1rem;
}

.education-block .dates {
  font-family: var(--hind-subnormal-font-family);
  font-size: var(--hind-subnormal-font-size);
  font-style: var(--hind-subnormal-font-style);
  font-weight: var(--hind-subnormal-font-weight);
  line-height: var(--hind-subnormal-line-height);

  color: var(--grey-300);
  min-width: 5rem;
}

.education-block .rest {
  font-family: var(--hind-normal-font-family);
  font-size: var(--hind-normal-font-size);
  font-style: var(--hind-normal-font-style);
  font-weight: var(--hind-normal-font-weight);
  line-height: var(--hind-normal-line-height);

  color: var(--grey-300);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education-block .school-name {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);

  color: var(--black);
}

.education-block .description {
}

@media only screen and (min-width: 992px) {
  .educations-block .education-block {
    gap: 2rem;
  }
}
