.languages-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.languages-block .block-header {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}

.languages-block .block-body {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}

.languages-block .language-block {
  display: flex;
  flex-direction: column;

  min-width: 13rem;

  gap: 0.5rem;
}

.language-block .language-name {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
}

.language-block .language-level {
  font-family: var(--hind-normal-font-family);
  font-size: var(--hind-normal-font-size);
  font-style: var(--hind-normal-font-style);
  font-weight: var(--hind-normal-font-weight);
  line-height: var(--hind-normal-line-height);

  color: var(--grey-300);
}

@media only screen and (min-width: 992px) {
  .languages-block .block-body {
    gap: 3rem;
  }
}
