.career-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.career-block::before {
  content: '';
  position: absolute;
  right: 0.65rem;
  height: 100%;
  width: 1px;
  /* background: var(--grey-200); */
  border-left: 1px dashed var(--grey-200);
  z-index: -1;
}

.career-block .block-header {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}

.career-block .work-experience {
  width: 100%;
  display: flex;
  justify-content: space-between;

  gap: 1rem;
}

.work-experience .rest {
  font-family: var(--hind-normal-font-family);
  font-size: var(--hind-normal-font-size);
  font-style: var(--hind-normal-font-style);
  font-weight: var(--hind-normal-font-weight);
  line-height: var(--hind-normal-line-height);

  color: var(--grey-300);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: var(--ratio-right);
}

.work-experience .general {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.work-experience .dates-duration {
  font-family: var(--hind-subnormal-font-family);
  font-size: var(--hind-subnormal-font-size);
  font-style: var(--hind-subnormal-font-style);
  font-weight: var(--hind-subnormal-font-weight);
  line-height: var(--hind-subnormal-line-height);

  color: var(--grey-300);

  min-width: 7rem;
}

.work-experience .position-dates {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.work-experience .position {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);

  color: var(--black);

  max-width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.work-experience .on-site-remote-company-name {
  display: inline-flex;
  align-items: baseline;
  gap: 0.3rem;
}

.work-experience .on-site-remote {
  font-family: var(--IBM-normal-font-family);
  font-size: var(--IBM-normal-font-size);
  font-style: var(--IBM-normal-font-style);
  font-weight: var(--IBM-normal-font-weight);
  line-height: var(--IBM-normal-line-height);

  line-height: 1rem;
}

.work-experience .company-name {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);

  color: var(--black);
}

.work-experience .description {
  text-align: justify;
  text-justify: distribute;

  width: 100%;
}

.work-experience .timeline {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;

  padding-top: 0.5rem;
}

.work-experience .timeline img {
}

@media only screen and (min-width: 992px) {
  .work-experience .description {
    width: 75%;
  }
}
