.text-block {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.text-block .block-header {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}

.text-block .block-body {
  font-family: var(--hind-normal-font-family);
  font-size: var(--hind-normal-font-size);
  font-style: var(--hind-normal-font-style);
  font-weight: var(--hind-normal-font-weight);
  line-height: var(--hind-normal-line-height);

  text-align: justify;
  text-justify: distribute;

  color: var(--grey-300);
}

.text-block .block-body p {
  margin-block-start: 0;
  margin-block-end: 0;
}
